body {
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 맑은 고딕;
}

#form1 {
  position: absolute;
  top: 110px;
}

#form2 {
  position: absolute;
  top: 320px;
}

#form3 {
  position: absolute;
  top: 530px;
}

#form4 {
  position: absolute;
  top: 740px;
}

#form5 {
  position: absolute;
  top: 950px;
}

input[type=text]{
    width: 65%;
}

image {
  width: 200px;
  position: static;
}

select {
  width: 68%;
}

.well {
  width: 450px; margin-left: 250px;
}

.upload {
  display: table;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}